@media (min-width: 1200px) {
  .responsive-font-example {
    font-size: 80px;
  }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
  .responsive-font-example {
    font-size: 30px;
  }
}

/* Jumbotron */
#carousel {
  padding-top: 0rem;
  padding-left: 0%;
  padding-right: 0%;
}

#carousel .c-item {
  height: 1000px;
}

#carousel .c-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

/* Navbar */
.navbar {
  transition: all 0.2s;
}

.nav-color {
  background-color: #131212;
}

 /* Search box */
body{
background-color:#06070e;
font-family: "Poppins", sans-serif;
font-weight: 300;
}

#search-bar .height{
height: 100vh;
}

#search-bar .search{
position: relative;
box-shadow: 0 0 40px rgba(51, 51, 51, .1);  
}

#search-bar .search input{
height: 60px;
text-indent: 25px;
border: 2px solid #d6d4d4;
}

#search-bar .search input:focus{
box-shadow: none;
}

#search-bar .search .fa-search{
position: absolute;
top: 20px;
left: 16px;
}

#search-bar .search button{
position: absolute;
top: 5px;
right: 5px;
height: 50px;
width: 110px;
border: none;
background: #c66342;
}

/* open file */
#open-file {
  height: 1000px;
}

#open-file .card {
  transition: all 0.3s;
}

#open-file .card:hover {
  transform: scale(1.04);
}

/*nama kelompok*/
#member {
  height: 1000px;
  background-color: #06070e;
}

#member .img-thumbnail {
  border-radius: 50%;
}

/* footer */
footer {
  background-color: #050505;
  justify-content: center;
}
section {
  padding-top: 7rem;
}
